@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1550132972844'); /* IE9 */
  src: url('iconfont.eot?t=1550132972844#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABjQAAAI9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApAXQE2AiQDCAsGAAQgBYRtBy0bgAURBYTJvjjI5HrMnXlvIxvTUKhfVG2ntk2oGvd7PPy33//2mZn7/nxRhcSii1hSDc0rCUohFP7qlEqiijXy9Xs2x0hiKZeMrOgzQ3d1xj/GPs4dfbZsSoZoNtmApczRGmAheF9mLvYbcDn9CRTIPKCc9qYxB44JGFga0N4YRVYkkTeMXfACHxPosWCvOBqdvaoq7FWBeFE9vqsWAorC0lXoNBws4qNGTe9T+BB9P37bF5Wkyeyqi3zsgYM/TlamfedGQAgS0PEGGXtRiKuNifNGFoyT9SSKFY5VHnzXtoFdHNUi2F9nl/aBOSh9Jpl3RIAESjLaj5lJF5O6Oi+XOffcHld79scerJ7Fvp2Ju3O5zo0udn0qPgNx+XccNKA9lxuB4C7+fXtw879awNdO/Il87YVhLuounMGvkA3sKYbCtqWiyRpdSf+klQk9etCCPSO+TTWOnzcTqvGzu7rMZ8iqNbKwe9HotR8dVXgAPfaIj/caJWxRurHjBRCGvJEM+IJsyIcs7BeNCX90DIWNHtdj9MJeG1E5RwSJIqf0RlU29Ow61InLtyhObSJ5RcQ9QuYqTIHrl9MxesgSW+ZzEaoysQwdReA5tO1Aoww1MnVL1XHtedz0JjcbOsNxhICEghxJ3ZBKZtDjYLhyKp/fgsJJKyEdDXXRIxCzanwScPkDyFjbD2p4lFdmZ4WQUowwMeiQCMyDVmtAxuZ5NcgoVzkhNlrznEE8VOtur+9+oIS1YJtSOHVZvn6CYQAA') format('woff2'),
  url('iconfont.woff?t=1550132972844') format('woff'),
  url('iconfont.ttf?t=1550132972844') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1550132972844#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vue:before {
  content: "\e799";
}

